extends layout

block content
  div.flex.flex-col.items-center.justify-center.h-screen
    h1.text-4xl.font-bold.mb-4 Sign Up Successful!
    p.text-lg.mb-8 Congratulations! You have successfully signed up.
    a(href='/log-in' class='text-purple-700 underline hover:text-purple-500') Click here to log in
